<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RealAndVirtualMachine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <RealAndVirtualMachine.Properties.Settings>
            <setting name="PageSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="RealPagesCount" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="VirtualPagesCount" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ProgramSegmentPagesCount" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="DataSegmentPagesCount" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="StackSegmentPagesCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ProgramCodeStartSymbol" serializeAs="String">
                <value>$AMJ</value>
            </setting>
            <setting name="ProgramDataStartSymbol" serializeAs="String">
                <value>$DTA</value>
            </setting>
            <setting name="ProgramEndSymbol" serializeAs="String">
                <value>$STO</value>
            </setting>
            <setting name="TimerStartValue" serializeAs="String">
                <value>10</value>
            </setting>
        </RealAndVirtualMachine.Properties.Settings>
    </userSettings>
</configuration>