body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:256px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233 {
  position:absolute;
  left:13px;
  top:141px;
  width:243px;
  height:102px;
}
#u234 {
  position:absolute;
  left:2px;
  top:43px;
  width:239px;
  word-wrap:break-word;
}
