<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="DesktopClient2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILocationBasedTasksService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://lukas.somee.com/LocationBasedTasksService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILocationBasedTasksService"
                contract="LocationBasedTasksService.ILocationBasedTasksService"
                name="BasicHttpBinding_ILocationBasedTasksService" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <DesktopClient2.Properties.Settings>
            <setting name="DesktopClient2_com_somee_lukas_LocationBasedTasksService"
                serializeAs="String">
                <value>http://lukas.somee.com/LocationBasedTasksService.svc</value>
            </setting>
        </DesktopClient2.Properties.Settings>
    </applicationSettings>
</configuration>
