<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILocationBasedTasksService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://lukas.somee.com/LocationBasedTasksService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILocationBasedTasksService"
                contract="Ionic.Samples.Webservices.Sep24.ILocationBasedTasksService"
                name="BasicHttpBinding_ILocationBasedTasksService" />
        </client>
    </system.serviceModel>
</configuration>